* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.wrapper__header {
    width: 100%;
}

.header__title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    color: #55b2d4;
    font-size: 13px;
    font-weight: 700;
}

.subtitle {
    padding-left: 5px;
    font-size: 8px;
}

.devideLine {
    width: 100%;
    border-top: 1px solid gray;
}


.albumWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 12px;
}

.albumWrapper__item .album-thumbnail {
    width: 120px;
    height: 120px;
}

.albumWrapper__item .album-songtitle {
    font-size: 11px;
    font-weight: bold;
    color: #0f465e;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.albumWrapper__item .album-artist {
    font-size: 10px;
    font-weight: bold;
    color: gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.wrapper__body {
    width: 100%;
}

.albumTable {
    border-spacing: 0px;
    width: 100%;
    padding-top: 8px;
}

.albumTable th {
    height: 20px;
    font-size: 10px;
    font-weight: bold;
    color: gray;
    background-color: #EEEEEE;
    padding-top: 5px;
    border-top: 1px solid gray;
    border-bottom: 1px dashed gray;
}

.albumTable td {
    height: 20px;
    font-size: 10px;
    color: #0F465E;
    border-bottom: 1px dashed gray;
}

.album-table-checkbox {
    width: 5%;
    text-align: center;
}

.album-table-number {
    width: 10%;
    text-align: center;
}

.album-table-song {
    width: 45%;
    text-align: left;
}

.album-table-artist {
    width: 30%;
    text-align: left;
}

.arrow {
    width: 10px;
    height: 10px;
    text-align: center;
    color: red;
    border: 1px solid gray;
    border-radius: 2px;
}

.albumTable__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10px;
    padding-top: 10px;
}
.albumTable__footer button {
    font-size: 8px;
    color: gray;
    padding: 3px;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 57.43%, #DDDDDD 100%);
    border: 1px solid gray;
    border-radius: 5px;
}
.albumTable__footer__center span {
    color: red;
}